.legend {
  background-color: rgb(240, 240, 240);

  min-height: 300px;
  flex: 1;
  order: 2;
}

#main-wrapper {
  display: flex;

}

#main-wrapper .manuscript {
  width: 70%;
  border: none;
  outline: none;
  resize: none;
  order: 1;
}

